/* .image {
  width: 100%;
  height: 120px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */

.image {
  width: 100%;
  height: 208px;
  border-radius: 10px;
}

.title {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .image {
    height: 208px;
  }
  .title {
    font-size: 16px;
  }
}
